.btn {
  font-family: monospace;
  background: transparent;
  border: 1px solid #111;
  border-radius: 5px;
  padding: 4px 10px;
  transition: background-color 0.1s;

  &:hover {
    background-color: #555;
  }

  &:active {
    background-color: #888;
  }
}
